.table-title {
    text-align: center;
    margin-top: 30px;
}

.meeting-table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.table-header .header-cell {
    background-color: #f8b400;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: center;
}


.table-row .table-cell {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 16px;
}


.table-row:nth-child(even) {
    background-color: #f9f9f9;
}


.table-row:hover {
    background-color: #f1f1f1;
}


.highlight {
    background-color: #f0e68c;
    font-weight: bold;
}

.instructions-title {
    text-align: center;
    margin-top: 30px;
    color: #444;
    font-size: 24px;
}

/* Estilo da lista */
.instructions-list {
    width: 70%;
    margin: 30px auto;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.list-item {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    transition: background-color 0.3s ease;
}


.list-item:last-child {
    border-bottom: none;
}


.link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}


.link:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
}