body {
    height: 100vh;
    width: 100vw;
    display: flex;
    font-family: "Roboto", sans-serif;
    flex-direction: column;
    gap: 20px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%); 
}

.content {
    max-width: 1080px;
}

.container {
    display: flex;
    justify-content: center;
}

.main-container {
    flex-grow: 1;
}

.section {
    max-width: 800px;
}

.header-content {
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: space-between;
}

.main-title {
   font-size: 2.5rem;
   font-weight: bold;
   color: white; 
}

.nav-bar  {
    display: flex;
    gap:8px;
    align-items: center;
}

.nav-bar-link {
    color: white;
    font-size: 1rem;
    padding: 8px;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}


.card{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:8px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.info-list {
    display: flex;
    flex-direction: column;
    list-style: circle;
    padding: 8px;
}



.nav-bar-link:hover {
    background-color: rgb(64, 124, 254);
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.2);
}

.footer {
    padding: 20px;
    color: white;  
    height: 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%); 
}

.copyright {
    font-size: 1.2rem;
}

.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 500;
}

.text {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.1;
}

.section {
    display: flex;
    flex-direction: column;
    gap:10px;
}

